#projects {
    padding: 20px 0px;
    padding-bottom: 60px;
    background-color: #000;
    
    .projects-header {
        padding: 0 20px;
        text-align: right;
    }

    a {
        text-decoration: none;
        transition: all 0.3s;

        h3 {
            padding: 0 20px;
            margin-bottom: 5px;
        }

        &:hover {
            text-shadow: #fff 2px 2px 10px;
        }
    }

    .crypto-rate-h {
        text-align: right;
    }

    .leorei-h {
        margin-bottom: 25px;
    }
}