.footer-container {
    background-color: #000;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-family: $main-font;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            text-shadow: #fff 2px 2px 10px;
        }
    }
}