.navigation-container {

    video {
        position: fixed;
        top: 0;
        z-index: -1;
    }

    .navigation {
        padding: 0 20px;
        position: sticky;
        top: 40px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        z-index: 20;

        .name {
            color: #fff;
            font-family: $main-font;
            font-size: 24px;
            display: inline-block;
        }

        .nav-menu-list {
            text-align: right;
            list-style: none;
            display: inline-block;
            line-height: 30px;

            .nav-items {

                a {
                    text-decoration: none;
                    font-family: $main-font;
                    color: rgba(255, 255, 255, 0.8);
                    font-size: 20px;
                    transition: all 0.3s;

                    &:hover {
                        color: rgb(249, 68, 237);
                    }
                }
            }
        }
    }
}

@media all and (min-width: $medium-size) {

    .navigation-container {
        
        .navigation {
            padding: 10px 40px;
        }
    }
}

@media all and (min-width: 884px) {

    .navigation-container {
        
        .navigation {
            padding: 10px 60px;

            .nav-menu-list {
                display: inline;

                .nav-items {
                    display: inline;
                    margin: 0 15px;
                }
            }
        }
    }
}

@media all and (min-width: $large-size) {
    
    .navigation-container {
        
        .navigation {
            padding: 10px 80px;
        }
    }
}

@media all and (min-width: 1000px) {

    .navigation-container {

        video {
            width: 100%;
        }
    }
}