@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@0;1&family=Nabla&family=Smooch+Sans:wght@100;200;300;400;500&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

$header-font: 'Yanone Kaffeesatz', sans-serif;
$special-header-font: 'Nabla', cursive;

$main-font: 'Smooch Sans', sans-serif;
$secondary-font: 'Brygada 1918', serif;