.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap; 
}

.header {
    background-color: orangered;
    flex-basis: 100%;
}

.article {
    background-color: lightgrey;
    flex-basis: 50%;
    order: 2;
}

.aside-left {
    background-color: lime;
    flex-basis: 25%;
    order: 1;
}

.aside-right {
    background-color: palevioletred;
    flex-basis: 25%;
    order: 3;
}

.footer {
    background-color: yellow;
    flex-basis: 100%;
    order: 4;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        flex-basis: 100%;
    }
    .article {
        flex-basis: 75%;
        order: 1;
    }
    .aside-left {
        flex-basis: 100%;
        order: 3;
    }
    .aside-right {
        flex-basis: 25%;
        order: 2;
    }
    .footer {
        flex-basis: 100%;
        order: 4;
    }
}

@media screen and (max-width: 768px) {
    .header,
    .article,
    .aside-left,
    .aside-right,
    .footer {
        flex-basis: 100%;
    }
    .article {
        order: 1;
    }
    .aside-left {
        order: 2;
    }
    .aside-right {
        order: 3;
    }
    .footer {
        order: 4;
    }
}